<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>43625869-4340-4916-BDA0-52D0E2AD49E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0238BA1F-3079-441E-A42E-3A234C53DC7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BCE48A7A-A203-4879-8425-EEF8C6E791D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EF4555C-4CA8-4361-BCB0-67236895B524</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0832975F-CE56-40B1-B1D8-4BC1975351B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C216FFCF-D56E-4C35-920D-B4C2D365376D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43625869-4340-4916-BDA0-52D0E2AD49E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CB1BF4E5-F7D5-43F4-AFD8-F8884FF49858</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCE48A7A-A203-4879-8425-EEF8C6E791D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Josh Steiner</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Trelfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>trelfred</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>./trelfred search {query}</string>
				<key>title</key>
				<string>Trelfred</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BCE48A7A-A203-4879-8425-EEF8C6E791D8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2EF4555C-4CA8-4361-BCB0-67236895B524</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CB1BF4E5-F7D5-43F4-AFD8-F8884FF49858</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./trelfred increment {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0832975F-CE56-40B1-B1D8-4BC1975351B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./trelfred cache</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43625869-4340-4916-BDA0-52D0E2AD49E5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cache-trelfred</string>
				<key>text</key>
				<string>Cache Trelfred</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C216FFCF-D56E-4C35-920D-B4C2D365376D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Cached Trello Boards</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0238BA1F-3079-441E-A42E-3A234C53DC7F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0238BA1F-3079-441E-A42E-3A234C53DC7F</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>0832975F-CE56-40B1-B1D8-4BC1975351B3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>2EF4555C-4CA8-4361-BCB0-67236895B524</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>43625869-4340-4916-BDA0-52D0E2AD49E5</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>BCE48A7A-A203-4879-8425-EEF8C6E791D8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C216FFCF-D56E-4C35-920D-B4C2D365376D</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>CB1BF4E5-F7D5-43F4-AFD8-F8884FF49858</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
